body{
  font: 15px "Open Sans", Arial;
  color: #45251C;
  background-color: #DDD8C6;
}
a{
  text-decoration: none;
}
h1{
  font-size: 19px;
  font-weight: bold;
  text-transform: uppercase;
}
h2{
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
h3{
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.5px;
}
h1,h2,h3,p{
  color: #DED9C6;
}
.wrapper{
  max-width: 970px;
  margin: 0 auto; 
}
header{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 123px;     
}
header a.logo{  
  width: 30.93%;
  display: block;
  background: url("../img/logo.png") no-repeat;
  background-size: contain; 
  -webkit-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
}
header a.logo:hover{
  opacity: 0.7;
}
header .left-stripe, header .right-stripe{
  height: 32px;
  width: 32.33%;
  margin-top: 2.7%;
  border-top: 2px dotted rgba(133, 130, 119, 1);
  border-bottom: 2px dotted rgba(133, 130, 119, 1);
}
header .left-stripe{
  margin-right: 2%;
}
header .right-stripe{
  margin-left: 2%; 
}
header .left-stripe p, header .right-stripe  p{
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  line-height: 27px;
  letter-spacing: 0.5px;
  color: #858277;
}
/* mobile version */
.mobile{
  display: none;
  position: relative;
  margin-bottom: 12px;
}
.mobile img:nth-child(1){
  position: absolute;
  top: -5px;
  left: 17%;
}
.mobile img:nth-child(2){
  position: absolute;
  top: -5px;
  right: 17%;
}
.mobile p{
  color: #45251C;
  text-align: center;
  font-size: 9px;
  font-weight: bold;
  text-transform: uppercase;
}
#bmenu{
  display: none;
  float: right;
  width: 42px;
  padding: 6px 0px 5px 3px;
  margin-right: 20px;
  margin-top: 1px;
  border: 1px solid #45251C;
  border-radius: 3px;
  font-size: 28px;
}
#orderm{
  display: none;
  float: left;
  margin-left: 20px;
  margin-top: 5px;
  padding: 5px 10px;
  border: 1px solid #DDD8C6;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #FBBA00;
  color: #fff;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.6);
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.6);
}
@-webkit-keyframes openmenu {
	from {
		left: -50%;		
	}
	to {		
		left: 0;		
	}	
}
@keyframes openmenu {
	from {
		left: -50%;		
	}
	to {		
		left: 0;		
	}	
}
div.open{ 
  display: block; 
  position: fixed;
  left: 0; 
  opacity: 0.92; 
  -webkit-animation: openmenu 400ms linear; 
  animation: openmenu 400ms linear;    
}
@-webkit-keyframes closemenu {
	from {
		left: 0%;				
	}
	to {		
		left: -50%;		
	}	
}
@keyframes closemenu {
	from {
		left: 0%;				
	}
	to {		
		left: -50%;		
	}	
}
div.close{
  display: block;
  position: fixed;
  left: -50%;
  opacity: 1;
  -webkit-animation: closemenu 400ms linear;
  animation: closemenu 400ms linear; 
}
.mobile-menu{
  display: none;
  position: absolute;
  top: 0; 
  width: 50%;
  height: 100%;
  padding: 85px 20px;
  z-index: 5;
  background-color: #DDD8C6;
  box-sizing: border-box;
  -webkit-transition: opacity 400ms 400ms linear;
  -o-transition: opacity 400ms 400ms linear;
  transition: opacity 400ms 400ms linear; 
}
#screen{
  display: none;
  position: absolute;
  top: 0;
  right: -50%;
  width: 50%;
  height: 100%;
  z-index: 6;
}
.mobile-menu .mactive{
  color: #B11015;
}
.mobile-menu ul li a{
  display: block;
  width: 89%;
  padding: 15px 0;
  text-transform: uppercase;
  border-bottom: 1px solid #45251C;
  color: #45251C;
}

.carousel-mobile{
  display: none;
  max-width: 600px;
  padding: 10px 20px;
  background-color: #45251C;
  border-top: 1px dashed #DDD6C5;
  border-bottom: 1px dashed #DDD6C5;
  position: relative;
}
.carousel-mobile h1{
  margin-bottom: 35px;
}
.carousel-mobile img:nth-child(2){
  position: absolute;
  top: 16px;
  left: 10px;
}
.carousel-mobile img:nth-child(3){
  position: absolute;
  top: 29px;
  right: 60px;
}
.carousel-mobile .mfoto {
  display: block;
  width: 80%;
  margin: 0 auto 20px;
  background-color: #BFBAAE;
  outline: 10px solid rgba(221,216,198,0.2);
  border-radius: 2px;
  position: relative; 
}
.carousel-mobile .mfoto img{
  width: 100%; 
}
@-webkit-keyframes triangle-left-stretch {
	70%, to {
		border-right-color: #63493E;	
	}
	90% {		
		left: -34px; 		
	}	
}
@keyframes triangle-left-stretch {
	70%, to {
		border-right-color: #63493E;	
	}
	90% {		
		left: -34px; 		
	}	
}
.carousel-mobile .triangle-left{
  position: absolute;
  top: 41px;
  left: -33px;    
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100px 20px 100px 0; 
  border-color: transparent #B11015 transparent transparent;
  -webkit-animation: triangle-left-stretch 2000ms infinite linear;
  animation: triangle-left-stretch 2000ms infinite linear;
}
@-webkit-keyframes triangle-right-stretch {
	70%, to {		
		border-left-color: #63493E;
	}
	90% {				
        right: -34px;		
	}	
}
@keyframes triangle-right-stretch {
	70%, to {		
		border-left-color: #63493E;
	}
	90% {				
        right: -34px;		
	}	
}
.carousel-mobile .triangle-right{
  position: absolute;
  top: 41px;
  right: -33px;  
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100px 0 100px 20px;
  border-color: transparent transparent transparent #FBBA00;
  -webkit-animation: triangle-right-stretch 2000ms 300ms infinite linear;
  animation: triangle-right-stretch 2000ms 300ms infinite linear;
}
.carousel-mobile h2{
  text-align: center;
}
.carousel-mobile span{
  font-size: 12px;
  font-weight: bold;
}
.carousel-mobile  p{
  margin-bottom: 10px;
  font-size: 10px;
  text-align: left;
}
.carousel-mobile p:last-child{
  text-align: center;
  font-style: italic;
}
/* end mobile*/
.menu{ 
  height: 20px;  
  margin-bottom: 46px;
  background: url("../img/fade_line.png") no-repeat;
  background-size: cover;
  background-position: 0 12%;
}
.menu  ul{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.menu ul li:last-child{
  position: relative;
}
.menu ul li a:not(.order){
  display: block;
  padding: 0 30px;
  line-height: 35px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  color: #45251C;
  background-color: #DED9C6;
  border: solid 0px rgba(74, 74, 74, 1);
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.6);
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.6);
  -webkit-transition: color 400ms, background 400ms;
  -o-transition: color 400ms, background 400ms;
  transition: color 400ms, background 400ms;
}
.menu ul li:first-child a{ 
  border-radius: 0 0 0 10px;  
}
.menu ul li:last-child a:not(.order){ 
  border-radius: 0 0 10px 0;  
}
.menu ul li a:hover:not(.order), .menu ul li a.active{
  background-color: #B2AB9D;
  color: #DED9C6;
}
.menu li a.order{
  display: block;
  position: absolute;
  top: -40px;
  right: 0;
  width: 170px;  
  text-align: center;
  line-height: 35px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  color: #FFF;
  background-color: rgba(177, 17, 22, 1);
  border: solid rgba(177, 17, 22, 1) 0px;
  border-radius: 10px 10px 0 0;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.6);
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.6);
  -webkit-transition: color 400ms, opacity 400ms;
  -o-transition: color 400ms, opacity 400ms;
  transition: color 400ms, opacity 400ms;
}
.menu li a.order:hover, .menu li a.oactive{
  color: #DED9C6;
  opacity: 0.7;
}
.content{
  padding: 0 25px;
  margin-bottom: 20px;   
}
.content .pre-block{
  position: relative;  
  padding-top: 11px;
  padding-bottom: 20px;
  background-color: #45251C;
}
.content .pre-block img:nth-child(2){
  position: absolute;
  top: 32px;
}
.content .pre-block img:nth-child(3){
  position: absolute;
  left: 48%;
  top: 28px;
}
.content .pre-block h1{
  padding-left: 16px;
}

/* main page */
.flex-box{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex-box div{
  text-align: center;
  width: 33.334%;
  padding-top: 5px;
  background-color: #45251C;
}
.flex-box h3{
  text-align: center;
}
.content .flex-box .description-block {
  height: 60px;
  width: 100%;
  margin-bottom: 24px;
  padding: 0 40px;
  box-sizing: border-box; 
}
.content .flex-box .description-block p{
  text-indent: 2%;
  text-align: center;
  text-align-last: center;
  overflow: hidden;
  letter-spacing: 0.2px;
}
.content .flex-box a.button{
  text-align: center;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  background-color: rgba(177, 17, 22, 1);
  border: 1px solid rgb(177, 17, 22);
  border-radius: 3px; 
  -webkit-transition: opacity 400ms;
  -o-transition: opacity 400ms;
  transition: opacity 400ms;
}
.content .flex-box a.button:hover{
  opacity: 0.7;
}
.content .block-stores{
  position: relative;
}
.content .block-stores .stripe-left{
  position: absolute;
  left: -13px;
  top: -5px;
}
.content .block-stores .stripe-right{
  position: absolute;
  right: -11px;
  top: -5px;
}
.content .flex-box .foto{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-size: 0;
}
.content .flex-box .foto a{
  -webkit-transition: opacity 400ms;
  -o-transition: opacity 400ms;
  transition: opacity 400ms;
}
.content .flex-box .foto a:hover{
  opacity: 0.8;
}
.content .flex-box .foto img{
  width: 93.4%;
  border: 10px solid #B2AB9D; 
}
.content .block-product .foto{
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; 
}
.content .block-stores .foto{
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.content .block-about .foto{ 
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;   
}
.content .spikelet{
  display: block;
  margin-top: 29px;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
 }
 
 /* carousel */
 
.carousel{ 
  margin-top: 76px;
  padding: 30px;
  background-color: #B2AB9D;
  border: 1px solid #CCC7B7; 
}
 .carousel .sidebar{
  float: right;
  position: relative;
  width: 335px;  
  height: 691px;
  margin-left: 3px;
  padding: 5px 17px;
  box-sizing: border-box;
  margin-top: -70px;
  background: #45251C;
  border: 1px solid #B2AB9D;
}
 .carousel h1{
  padding-top: 4px;
  margin-bottom: 42px;
 }
.carousel .sidebar img:nth-child(2){
  position: absolute;
  top: 15px;
  left: 17px;
}
.carousel .sidebar img:nth-child(3){
  position: absolute;
  top: 28px;
  right: 10px;
}
.carousel .sidebar .bigFoto{
  display: block;
  width: 270px;
  height: 270px;
  margin: 0 auto 20px;
  background-color: #BFBAAE; 
  outline: 10px solid rgba(221,216,198,0.2);
  border-radius: 2px;
}
.foto-frame{
  position: relative;
}
.cost{
  padding: 2px 5px;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  background-color: #B11015;
}
.cost, .weight, .expiration, .active{
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.6);
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.6);
}
.foto-frame .cost{
  position: absolute;
  top: 4px;
  right: 18px;  
}
.foto-frame .weight{
  position: absolute;
  top: 4px;
  left: 18px;
  padding: 2px 5px;
  color: #45251C;
  font-weight: bold;
  border-radius: 5px;
  background-color: #FBBA00;
}
.foto-frame .expiration{
  position: absolute;
  top: 4px;
  left: 40%; 
  padding: 2px 5px;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  background-color: #2D7DCB;
}
.foto-frame .code{ 
  position: absolute;
  bottom: 0;
  right: 18px; 
  font-size: 14px;
  font-weight: bold;
}
.foto-frame #count{
  position: absolute;
  bottom: 0;
  left: 10px;
}
@-webkit-keyframes resize1 {
	85%, to {
		font-size: 18px;
		bottom: 2px;
		left: 15px;
	}
	95% {
		font-size: 22px;
		bottom: 1px;
		left: 12px;
	}	
}
@keyframes resize1 {
	85%, to {
		font-size: 18px;
		bottom: 2px;
		left: 15px;
	}
	95% {
		font-size: 22px;
		bottom: 1px;
		left: 12px;
	}	
} 
.carousel .sidebar .icon-zoom-in-1{
  position: absolute;
  bottom: 2px;
  left: 15px; 
  font-size: 18px;
  color: #000;
  -webkit-animation: resize1 2500ms infinite ease;
  animation: resize1 2500ms infinite ease;   
}
.carousel .sidebar .loupe:hover{
  cursor: zoom-in;
}
.carousel .sidebar .loupe{
  position: absolute;
  left: 5px;
  top: -10px;
  width: 290px;
  height: 290px;
  opacity: 0;
  background-color: #eee; 
  border-radius: 2px;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.6);
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.6);
}
.carousel .sidebar span{
  font-size: 12px;
  font-weight: bold;
}
.carousel .sidebar p{
  margin-bottom: 10px;
  font-size: 10px;
  text-align: left;
}
.carousel .sidebar p.recommend{
  font-size: 11px;
  text-align: center;
  text-align-last: center;
  font-style: italic;
}
.carousel .list li{
  float: left;
  width: 158px;
  height: 198px;
  box-sizing: border-box;
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #BFBAAE;
  border: 1px solid #BFBAAE;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
 }
.carousel .list li:nth-child(3n){
  margin-right: 0;
}
.carousel .list li img:first-child{
  -webkit-transition: opacity 500ms, -webkit-transform 500ms;
  transition: opacity 500ms, -webkit-transform 500ms;
  -o-transition: transform 500ms, opacity 500ms;
  transition: transform 500ms, opacity 500ms;
  transition: transform 500ms, opacity 500ms, -webkit-transform 500ms;
}
.carousel .list li:not(.active):hover {
  opacity: 0.6;
  cursor: pointer;
}
.carousel .list li:not(.active):hover img:first-child{
 -webkit-transform: rotate(5deg);
 -ms-transform: rotate(5deg);
 transform: rotate(5deg);
}
.carousel .list li.active{
  border-color: red;
}
 .carousel .list .cost{
  position: absolute;
  top: 7px;
  right: 7px;
 }
.carousel .show{
  height: 620px;
  overflow-y: scroll;
}
.show::-webkit-scrollbar, .list_own::-webkit-scrollbar,
 .order_form::-webkit-scrollbar {
  width: 10px; 
}
.show::-webkit-scrollbar-track, .list_own::-webkit-scrollbar-track,
 .order_form::-webkit-scrollbar-track {
  background: #BFBAAE; 
}
.show::-webkit-scrollbar-thumb, .list_own::-webkit-scrollbar-thumb,
 .order_form::-webkit-scrollbar-thumb{
  border-radius: 2px;
  background: #B11015; 
}
.show::-webkit-scrollbar-thumb:hover, .list_own::-webkit-scrollbar-thumb:hover,
 .order_form::-webkit-scrollbar-thumb:hover  {
  background: #45251C; 
}
.carousel .list li img{
  width: 100%;
}
.carousel .list li p{
  font-size: 12px;
  font-weight: bold;
  line-height: 13px;
  letter-spacing: -0.3px;
  color: #45251C;
  text-align: center; 
}
.carousel .list li img.stripe{
  width: 70%;
  position: absolute;
  bottom: 45px;
  left: 14%;  
}
/* error-page */
.error-page{
  padding: 30px;
  text-align: center;
  background-color: #B2AB9D;
}
.error-page h2{
  font-size: 20px;
  margin-bottom: 15px;
}
.content .text{
  padding: 15px 20px;
  background-color: #45251C;
  color: #F5F5F6;
  position: relative;
  border: 1px solid #B2AB9D;
}
.text .mobile-table{
  display: none;
}
.text h1{
  margin-bottom: 30px;
  margin-left: 13px;
}
.text img:nth-child(2){
  position: absolute;
  top: 25px;
  left: 33px;
}
.text img:nth-child(3){
  position: absolute;
  top: 38px;
  left: 290px;
}
.text table{
  margin: 0 auto 20px;
  border-collapse: collapse;
  font-size: 12px;
}
.text table th, .text table td{
  padding: 1px 3px;
  border: 1px double #DDD8C6;
}
.text table td:not(:nth-child(3)), .text p{
  text-align: center; 
}
.text p.last{
  margin-bottom: 20px;
}
.text .textIn{
  margin: 0px -20px -15px 10px;
  padding: 20px 20px 35px;
  background-color: #B2AB9D;
  border: 1px solid #CCC7B7;
}
.text .textIn ul li:not(.menu_personal li){
  margin-left: 15px;
  list-style-type: disc;
  color: #45251C;
}
.text .textIn h3{
  text-align: center;
  margin-bottom: 10px;
}
.text .textIn p{
  text-align: left;
  padding-bottom: 5px;
  text-indent: 22px;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  color: #45251C;
}
.text .textIn span{
  font-style: italic;
  font-weight: bold;
}
.text .textIn a, .text .textIn a:visited{
  color: #B11015;
}
.text .textIn img{
  float: left;
  width: 300px;
  margin: 5px 10px 5px 0;
  outline: 3px solid rgba(240,240,240,0.2);
}
#map{
  width:100%;
  height:450px;
  margin-top: 10px;
  margin-bottom: 15px;
  outline: 4px solid rgba(69,37,69,0.6);
}
#map div.point p{
  text-indent: 0;
  text-align: left;
  text-align-last: center;
}
.authoriz{
  width: 200px;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid #CCC7B7;
}
.authoriz form input{
  display: block;    
}
.authoriz form input:not([type="submit"]){ 
  width: 100%;
  padding: 5px;
  font-size: 18px;
  background-color: #C8C2B2;
  border: 0px solid rgba(255, 255, 255, 1);
  color: #45251C;
  margin: 0 0 15px;
  box-sizing: border-box;
  border-radius: 0;
}
.authoriz form input[type="submit"]{
  margin: 0 auto;
  padding: 5px 15px 7px 15px;
  font-size: 15px;
  background-color: #B11015;
  color: #DCD9C6;
  border: 1px solid #B11015;
  border-radius: 1px;
}
.authoriz form input[type="submit"]:hover{
  opacity: 0.5;
  color: #C8C2B2;
}
@-webkit-keyframes blink {
	85%, to {
		color: #45251C;
	}
	100% {
		color: #B11015;
	}	
}
@keyframes blink {
	85%, to {
		color: #45251C;
	}
	100% {
		color: #B11015;
	}	
} 
.blinking{
  -webkit-animation: blink 2000ms infinite ease;
  animation: blink 2000ms infinite ease;
}

ul.menu_personal{
  float: right;  
}
#welcome{
  float: left;  
}
#welcome span{
  text-decoration: underline;
}
ul.menu_personal li{
  float: left;  
}
ul.menu_personal li:not(:last-child){
  margin-right: 10px;
}
ul.menu_personal li a{
  padding: 2px 15px;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.6);
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.6);  
}
ul.menu_personal li a:hover{
  opacity: 0.4;
}
.textIn ul.menu_personal li a.add{
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  background-color: #129C5A;
}
.textIn ul.menu_personal li a.retract{
  color: #45251C;
  font-weight: bold;
  border-radius: 5px;
  background-color: #FBBA00;
}
.textIn ul.menu_personal li a.logout{
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  background-color: #B11015;
}
.textIn ul.menu_personal li:nth-child(2){
  position: relative;
}
/* .textIn ul.menu_personal li .footnote{
  position: absolute;
  top: -8px;
  left: 0;
  padding: 0 4px;
  font-size: 10px;
  background-color: #B11015;
  border-radius: 50%;
} */
.area_own{
  margin-top: 15px;
  position: relative;
}
.area_own .right_part{
  float: right;
  width: 470px;
  padding: 0 5px 5px 5px;
  box-sizing: border-box; 
}
.area_own .right_part .order_form{
  height: 550px;
  overflow-y: scroll; 
}
.info{
  padding: 3px;
  margin-bottom: 10px;
  background-color: #69A4DE;
  border: 1px solid #69A4DE;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.6);
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.6);
}
@-webkit-keyframes info {
	50%, to {
		color: white;
	}
	100% {
		color: #45251C;
	}	
}
@keyframes info {
	50%, to {
		color: white;
	}
	100% {
		color: #45251C;
	}	
} 
.area_own .right_part .info p{
  color: white;
  text-indent: 0;
  -webkit-animation: info 2000ms infinite ease;
  animation: info 2000ms infinite ease;
}
.area_own .right_part .info span{
  font-size: 11px;
}
.area_own .right_part .headings{
  padding: 3px;
  margin-bottom: 10px;
  background-color: #8C836F;
   -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.6);
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.6);
}
.area_own .right_part .headings, .area_own .right_part .order_row, .area_own .right_part .total{
  margin-right: 3px;
}
.area_own .right_part .headings table{
  margin-bottom: 0;
}
.area_own .right_part .headings table th{
  font-size: 10px;
}
.area_own .right_part .headings table th:nth-child(1){
  width: 25px;
}
.area_own .right_part .headings table th:nth-child(2){
  width: 20px;
}
.area_own .right_part .headings table th:nth-child(3){
  width: 200px;
}
.area_own .right_part .headings table th:nth-child(4){
  width: 50px;
}
.area_own .right_part .headings table th:nth-child(5){
  width: 50px;
}
.area_own .right_part .headings table th:nth-child(6){
  width: 50px;
}
.area_own .right_part .order_row{
  padding: 3px;
  background-color: #8C836F;
   -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.6);
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.6);
}
.area_own .right_part .order_row table{
  margin-bottom: 0;
}
.area_own .right_part .order_row table td:nth-child(1){
   width: 25px;
}
.area_own .right_part .order_row table td:nth-child(2){
   width: 20px;
}
.area_own .right_part .order_row table td:nth-child(3){
  width: 200px;
}
.area_own .right_part .order_row table td:nth-child(4){
  width: 50px;
}
.area_own .right_part .order_row table td:nth-child(5){
  width: 60px;
}
.area_own .right_part .order_row table td:nth-child(5) input{
  width: 50px;
}
.area_own .right_part .order_row table td:nth-child(6){
  width: 55px;
}
.area_own .right_part .date_order{
  margin-bottom: 6px;
}
.area_own .right_part .date_order p{
  float: left;
}
.area_own .right_part .date_order select{
  float: left;
  margin-left: 10px;
  border: 2px solid #FF0000;
  border-radius: 3px;
   -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.6);
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.6);
}
.area_own .right_part .date_order select:hover{
  cursor: pointer;
}
#discont{
  margin-left: 20px;
  text-indent: 0;
  padding: 2px 5px;
  font-size: 12px;
  border-radius: 4px;
  background-color: #FFAC00;
  color: #fff;
   -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.6);
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.6);
}
.area_own .right_part .inputAmount{
  border: 2px solid #FF0000;
  border-radius: 3px;
}
.area_own .right_part .order_row a{
  color: #DDD8C6;
  text-decoration: underline;
}
.area_own .right_part .order_row a:hover{
  text-decoration: none;
}
.area_own .right_part .total{
  margin-top: 10px;
  padding: 3px;
  background-color: #8C836F;
   -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.6);
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.6);
}
.area_own .right_part .total table{ 
  margin-bottom: 0;
}
.area_own .right_part .total table th{
  font-size: 10px;
}
.send{
  margin-top: 25px;
  margin-bottom: 15px;
  text-align: center;
}
.send input{
  padding: 7px;
  background-color: #B11015;
  color: #fff;
  font-weight: bold;
  border: none;
  border: 1px solid transparent;
  border-radius: 5px;
   -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.6);
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.6);
  opacity: 0.5;
}
.area_own .right_part .send input:not([disabled]):hover{
  cursor: pointer;
  border-color: #129C5A;
}
.area_own .left_part{
  margin-right: 475px; 
}
.area_own .left_part .list_own{
  height: 520px;
  overflow-y: scroll;
}
.area_own .left_part .list_own li{
  border-bottom: 1px dashed #45251C;
}
.area_own .left_part .list_own li p:hover{
  color: #DED9C6;
  background-color: #8C836F;
}
.area_own .left_part .list_own li.active{
  background-color: #8C836F;
  border-left: 4px solid #45251C;
}
.area_own .left_part .list_own li p{
  text-indent: 5px;
  cursor: pointer;
}
.area_own .left_part .describe_part{
  height: 110px;
  margin-bottom: 10px;
  padding: 5px;
  box-sizing: border-box;
}
.area_own .left_part .describe_part .image_order{
  float: left;
  height: 100px;
  width: 100px;
  margin-right: 5px;
  background-color: #BFBAAE;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2px;
}
.area_own .left_part .describe_part .image_order:hover{
  cursor: pointer;
  opacity: 0.7;
}
.area_own .left_part .describe_part{
  background-color: #8C836F;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.6);
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.6);
  position: relative;
}

.area_own .left_part .describe_part .triangle{
  position: absolute;
  top: 55px;
  right: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 22.5px 0 22.5px 25px;
  border-color: transparent transparent transparent #DED9C6; 
}
.area_own .left_part .describe_part .delete{
  position: absolute;
  top: 56px;
  right: 10px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 3px solid #DED9C6;
}
.area_own .left_part .describe_part p{
  margin-left: 100px;
  padding-bottom: 0;
  font-size: 12px;
  text-indent: 0;
  color: #DDD8C6;
}
.area_own .left_part .describe_part span{
  color: #45251C;
  margin-right: 5px;
}
#del_row icon, #delrowM icon{
  font-size: 16px;
  color: #FFFF00;
}
#del_row icon:hover, #delrowM icon:hover{
 cursor: pointer;
 color: red;
}
.thanks{
  margin-top: 40px;
}
.textIn .thanks h3{
  margin-bottom: 25px;
}
.textIn .thanks p{
  text-align: center;
}

.stat{
  padding: 15px;
  margin-top: 20px;
  background-color: #8C836F;
}
.textIn .stat h3{
  margin-bottom: 20px;
}
.stat .innerStat{
  margin: 10px auto;
  width: 465px;
}
.stat .innerStat table, .stat .mobileInnerStat table{
  margin-bottom: 3px;
}
.stat .innerStat thead, .stat .innerStat tfoot, .stat .mobileInnerStat thead, 
.stat .mobileInnerStat tfoot{
  background-color: #7D7664;
}
.stat .innerStat p{
  margin-top: 20px;
  margin-bottom: 15px;
}
.stat .innerStat table th, .stat .innerStat table td{
  padding: 2px 0;
  text-align: center;
  color: #DDD8C6;
}
.stat .innerStat > div table tr th:first-child, .stat .innerStat table tr td:first-child{
  width: 90px; 
}
.stat .innerStat > div table tr th:nth-child(2), .stat .innerStat table tr td:nth-child(2){
  width: 85px; 
}
.stat .innerStat > div table tr th:nth-child(3), .stat .innerStat table tr td:nth-child(3){
  width: 80px;
}
.stat .innerStat > div table tr th:nth-child(4), .stat .innerStat table tr td:nth-child(4){
  width: 80px;
}
.stat .innerStat > div table tr th:nth-child(5), .stat .innerStat table tr td:nth-child(5){
  width: 60px;
}
.stat .innerStat > div table tr th:nth-child(6), .stat .innerStat table tr td:nth-child(6){
  width: 60px;
}
.stat .innerStat a{
  position: relative;
}
.stat .innerStat a div{
  transition: margin-left 250ms, background-color 150ms linear;
}
.stat .innerStat a div:hover{
  margin-left: 10px;
  background-color: #FB9F00;
}

.area_mobile{
  display: none;
  
}
.area_mobile .info{
  margin-top: 25px;
}
#discontm{
  padding: 2px 5px;
  font-size: 12px;
  border-radius: 4px;
  background-color: #FFAC00;
  color: #fff;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.6);
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.6);
}
.area_mobile .info p{
  -webkit-animation: info 2000ms infinite ease;
  animation: info 2000ms infinite ease;
}
.area_mobile .info, .area_mobile .date_order{
  max-width: 356px;
  margin-left: auto;
  margin-right: auto;
}
.area_mobile .date_order p{
  float: left;
  margin-right: 10px;
}
.area_mobile .date_order select{
  display: block;
  margin-bottom: 15px;
  border: 2px solid #FF0000;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.6);
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.6);
}
.text .textIn .area_mobile p{
  text-indent: 0;
  font-size: 11px;
}
.textIn .area_mobile .order_form{
  height: 350px;
  overflow-y: scroll;
  padding: 5px;
}
.textIn .area_mobile .order_form #demandm table{
  margin-bottom: 2px;
}
.textIn .area_mobile .order_form #demandm table td a{
  text-decoration: underline;
  color: #DDD8C6;
}
.textIn .area_mobile .order_form #totalm table{
  margin-top: 10px;
}
.area_mobile .date_order div{
   margin: 0 auto;
}
.textIn .area_mobile .order_form #discontm{
  width: 120px;
  margin: 10px auto;
}
.textIn .area_mobile .order_form div table{
  padding: 3px;
  margin-bottom: 10px;
  background-color: #8C836F;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.6);
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.6);
}
.textIn .area_mobile .order_form div table td input{
  width: 25px;
}
.textIn .area_mobile .order_form div table th, .textIn .area_mobile .order_form div table td{
  font-size: 10px;
  text-align: center;
}
.textIn .area_mobile .order_form table th:first-child, .textIn .area_mobile .order_form table td:first-child{
  width: 25px;
}
.textIn .area_mobile .order_form table th:nth-child(2), .textIn .area_mobile .order_form table td:nth-child(2){
  width: 235px;
}
.textIn .area_mobile .order_form table th:nth-child(3), .textIn .area_mobile .order_form table td:nth-child(3){
  width: 30px;
}
.textIn .area_mobile .order_form table th:nth-child(4), .textIn .area_mobile .order_form table td:nth-child(4){
  width: 45px;
}
.textIn .area_mobile .order_form .total table th:first-child, .textIn .area_mobile .order_form .total table td:first-child{
  width: 100px;
}
.textIn .area_mobile .order_form .total table th:nth-child(2), .textIn .area_mobile .order_form .total table td:nth-child(2){
  width: 112px;
}
.textIn .area_mobile .order_form .total table th:nth-child(3), .textIn .area_mobile .order_form .total table td:nth-child(3){
  width: 130px;
}
@-webkit-keyframes border {
	50%, to {
		border-color: white;
	}
	100% {
		border-color: #456B52;
	}	
}
@keyframes border {
	50%, to {
		border-color: white;
	}
	100% {
		border-color: #456B52;
	}	
}
.textIn .area_mobile .order_form .present{
  max-width: 365px;
  margin: 30px auto;
  padding: 5px;
  background-color: #71A482;
  border: 1px solid #FFFF00;
  border-radius: 3px;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.6);
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.6);
  position: relative;
  -webkit-animation: border 2000ms infinite ease;
  animation: border 2000ms infinite ease;
}
.textIn .area_mobile .order_form .present .left{
  position: absolute;
  top: 10px;
  left: -5px;
}
.textIn .area_mobile .order_form .present .right{
  position: absolute;
  top: 10px;
  right: -5px;
}
.textIn .area_mobile .order_form .present .center{
  position: absolute;
  top: -20px;
  left: 20%;
  font-size: 10px;
}
.textIn .area_mobile .order_form .present .mprice{
  position: absolute;
  bottom: -20px;
  right: 5px;
  font-size: 9px;
}
.textIn .area_mobile .order_form .present table{
  margin-bottom: 0;
  background-color: #71A482;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.textIn .area_mobile .order_form .present table tr td:first-child{
  width: 279px;
}
.textIn .area_mobile .order_form .present table tr td:last-child{
  width: 70px;
}
.mobileInnerStat{
  display: none;
  width: 270px;
  margin: 0 auto;
}
.stat .mobileInnerStat table th{
  font-size: 10px;
}
.stat .mobileInnerStat > div table tr th:first-child, .stat .mobileInnerStat table tr td:first-child{
  width: 95px;
}
.stat .mobileInnerStat > div table tr th:nth-child(2), .stat .mobileInnerStat table tr td:nth-child(2) {
  width: 60px;
}
.stat .mobileInnerStat > div table tr th:nth-child(3), .stat .mobileInnerStat table tr td:nth-child(3) {
  width: 30px;
}
.stat .mobileInnerStat > div table tr th:nth-child(4), .stat .mobileInnerStat table tr td:nth-child(4) {
  width: 50px;
}
.stat .mobileInnerStat table th, .stat .mobileInnerStat table td{
  text-align: center;
  color: #DDD8C6;
}
/* footer */

footer{
  padding-bottom: 20px;
}
footer .down-stripe{
  margin: 0 auto;
  width: 446px;
  position: relative;
}
footer .down-stripe img:nth-child(2){
  position: absolute;
  left: 45px;
  top: -3px;
}
footer .down-stripe img:last-child{
  position: absolute;
  right: 45px;
  top: -3px;
}
footer .sub-menu{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 15px;  
}
footer .sub-menu li a{
  padding: 3px;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  color: #45251C;
}
footer .sub-menu li:first-child a:after{
  content: "|";
  padding-left: 7px;
}
footer p{
  text-align: center;
  margin-bottom: 14px;
  font-size: 11px;
  color: #45251C;
}
footer > img{
  display: block;
  margin: 0 auto;
}

/* media */
@media screen and (max-width: 980px){
	.area_own{
		display: none;
	}
	.area_mobile{
		display: block;
	}
}

@media screen and (max-width: 950px){	
    .flex-box h3{
      font-size: 16px;
    }
    .content .flex-box .description-block p{
	  font-size: 13px;
	}
	.content .flex-box .description-block{
	  padding: 0 25px;
	}
	.content .flex-box .foto img{
	  width: 93.2%;
	}	
	.carousel .list li:nth-child(3n){
	  margin-right: 10px;
	}
	
}
@media screen and (max-width: 900px){
	.content .flex-box .foto img{
      width: 92.9%;
	}		
}
@media screen and (max-width: 880px){	
	header .left-stripe p, header .right-stripe p{
	  font-size: 15px;
	}
	.content .pre-block img:nth-child(3){
	  left: 54%;
	}
	.content .flex-box .foto img{
      width: 92.6%;
	}
}
@media screen and (max-width: 800px){	
	.menu ul li a:not(.order){
	  font-size: 11px;
	}
	header .left-stripe p, header .right-stripe p{
	  font-size: 12px;
	}
    .content .flex-box .foto img{
      width: 91.8%;
	}
	header{
	  height: 115px;
	}
	header .left-stripe{
	  margin-right: 1%;
	}
	header .right-stripe{
	  margin-left: 1%;
	}
	header .left-stripe, header .right-stripe{
	  margin-top: 2%;
	}
}
@media screen and (max-width: 780px){
    .content .pre-block img:nth-child(3){
	  left: 61%;
	}
	.content .flex-box .foto img{
      width: 91.6%;
	}	
}
@media screen and (max-width: 730px){
    .menu ul li a:not(.order){
	  padding: 0 25px;
	}
	.content .pre-block img:nth-child(3){
	  left: 65%;
	}
	.content .flex-box .foto img{
      width: 90.9%;
	}
    .flex-box h3{
      font-size: 14px;
    }
	
}
@media screen and (max-width: 680px){
	.content .flex-box .description-block{
	  padding: 0 15px;
	}
	.content .pre-block img:nth-child(3){
	  left: 71%;
	}
	.content .flex-box .foto img{
      width: 90.2%;
	}
	
}
@media screen and (max-width: 650px){
    .menu ul li a:not(.order){
	  padding: 0 20px;
	}
	.flex-box h3{
      font-size: 12px;
    }
	.content .flex-box .foto img{
      width: 89.3%;
	}
	.content .pre-block img:nth-child(3){
	  left: 76%;
	}
	.content .flex-box .description-block p{
	  font-size: 11px;
	}
	.innerStat{
	  display: none;
	}
	.mobileInnerStat{
	  display: block;
	}
	.stat{
	  padding: 15px 0;
	}
}
@media only screen and (max-width: 600px){
	.wrapper{
	  width: 100%;	  
	}
    header .left-stripe, header .right-stripe, .menu, footer .down-stripe,
	footer .sub-menu, .content .pre-block img, .content .block-stores .stripe-left,
	.content .block-stores .stripe-right, .content .carousel, .text .main-table	
	{
	  display: none;
	}
	header a.logo{
	  width: 380px;
	  margin: 0 auto;
	  background: url("../img/logob.png") no-repeat;	
      background-size: 99.7%	  
	}
	header{
	  height: 100px;
	  margin-bottom: 5px;
	}	
	.content{
	  margin-top: 10px;
	  padding: 0; 
	}		
	#bmenu, #orderm, .mobile, .carousel-mobile, .content .flex-box .foto,
	.text .mobile-table
	{
	  display: block;
	}
	.flex-box div{
	  width: 100%;
	}
	.content .flex-box{
	   flex-direction: column;  
	}
	.content .flex-box .foto img{
	  display: block; 
	  margin: 0 auto 15px;
	  width: 80%;
	}	
	.flex-box > div{
	  border-top: 1px dashed #DDD6C5;
	}
	.flex-box > div:last-child{
	  border-bottom: 1px dashed #DDD6C5;
	}
	.content .pre-block{
	  padding: 10px 0;
	  background-color: inherit;
	}
	.content .pre-block h1{
	  padding: 0;
	  text-align: center;
	  font-size: 14px;
	  color: #45251C;
	}
	.flex-box h3{
	  padding-top: 10px;
      font-size: 15px;	  
    }
	.content .flex-box .description-block{
	  padding: 0 20px;
	}
	.content .flex-box .description-block p{
	  padding-top: 10px;
	  font-size: 13px;
	}
	.text h1{
	  font-size: 15px;
	}
	.text table td:nth-child(2){
      text-align: left;
	}
	#map div.point p{
	  font-size: 10px;
	}
}