
.icon-down-big:before { content: '\e800'; } /* '' */
.icon-left-big:before { content: '\e801'; } /* '' */
.icon-star:before { content: '\e802'; } /* '' */
.icon-right-big:before { content: '\e803'; } /* '' */
.icon-up-big:before { content: '\e804'; } /* '' */
.icon-barcode:before { content: '\e805'; } /* '' */
.icon-ok-outline:before { content: '\e806'; } /* '' */
.icon-ok:before { content: '\e807'; } /* '' */
.icon-cancel-outline:before { content: '\e808'; } /* '' */
.icon-cancel-circled:before { content: '\e809'; } /* '' */
.icon-lock-open:before { content: '\e80a'; } /* '' */
.icon-lock-open-filled:before { content: '\e80b'; } /* '' */
.icon-lock-filled:before { content: '\e80c'; } /* '' */
.icon-lock:before { content: '\e80d'; } /* '' */
.icon-upload-outline:before { content: '\e80e'; } /* '' */
.icon-upload:before { content: '\e80f'; } /* '' */
.icon-pencil:before { content: '\e810'; } /* '' */
.icon-edit:before { content: '\e811'; } /* '' */
.icon-basket:before { content: '\e812'; } /* '' */
.icon-search:before { content: '\e813'; } /* '' */
.icon-zoom-in:before { content: '\e814'; } /* '' */
.icon-zoom-in-1:before { content: '\e815'; } /* '' */
.icon-menu:before { content: '\e816'; } /* '' */
.icon-menu-outline:before { content: '\e817'; } /* '' */
.icon-attention-circled:before { content: '\e818'; } /* '' */
.icon-right-dir:before { content: '\e819'; } /* '' */
.icon-play:before { content: '\e81a'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-menu-2:before { content: '\f008'; } /* '' */
.icon-zoom-in-2:before { content: '\f07e'; } /* '' */
.icon-menu-1:before { content: '\f0c9'; } /* '' */
.icon-angle-circled-left:before { content: '\f137'; } /* '' */
.icon-angle-circled-right:before { content: '\f138'; } /* '' */
.icon-angle-circled-up:before { content: '\f139'; } /* '' */
.icon-angle-circled-down:before { content: '\f13a'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-heartbeat:before { content: '\f21e'; } /* '' */
.icon-handshake-o:before { content: '\f2b5'; } /* '' */